@import "../App.css";


#review {
  opacity: 0.5;
}

#film-inner .film {
  border: 20px black solid;
}

.film {
    height: 165px;
    width: 125px;
    position: relative;
    cursor: pointer;
    perspective: 1000px;

    #film-title {
      font-size: 15px;
    }
  }
  
  .film-front, .film-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    text-wrap: wrap;

    background-color: white;

    p {
      margin-top: 0px;
    }
  }

  .film-front {
    font-weight: bold;
    text-align: center;

    img {
      width: 100%;
      height: 130px;
      opacity: 0.75;
      border-radius: 10px;
    }
  }
  
  .film-back {
    transform: rotateX(180deg);
    font-weight: 400;
  }
  
  .flipped .film-front {
    transform: rotateX(180deg);
  }
  
  .flipped .film-back {
    transform: rotateX(360deg);
  }

  #film-inner {
    height: 225px;
    border-top: 10px white dashed;
    border-bottom: 10px white dashed;
  }

  #film-outer {
    background-color: black;
    padding-top: 15px;
    height: 275px;
    margin-bottom: 30px;
  }


  #vhs-inner {
    .film {
      height: 130px;
      width: 250px;
      margin: 20px;
    }

    .film-front {
      background-color: black;
    }

    #vhs-tape {
      background-color: #bbb;
      width: 94%;
      height: 60%;
      margin: 10% 3% 10% 3%;
      border-radius: 25px;
      z-index: 1;
    }

    #vhs-label {
      background-color: white;
      height: 140%;
      z-index: 3;
      margin: -7% 10% -5% 10%;
      border: black 5px solid;
    }

    #film-title {
      font-size: 20px;
      color: #555;
    }

    #roll {
      margin: 0% 15% 0% 15%;
      height: 70%;
      border: 8px solid black;
      border-radius: 50px;
      background-color: none;
    }
  }

.reel {
    display: flex;
    flex-wrap: wrap;

    p {
      color: black;
    }
}

#film-charts {
  display: flex;
  flex-wrap: wrap;
}

