#stats-header {
    #header-bottom {
        color: #888;
        margin: 1px;
    }

    #header-top {
        color: #bbb;
        margin: 10px;
        font-size: 30px;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    text-align: center;
    display: flex;
    margin-left: 0%;
    margin-right: 0%;
    justify-content: center;
}

#header-item {
    margin: 10px;
    width: 150px;
}

#stats-page {

    h1 {
        text-align: center;
        font-size: 50px;
        margin: 0px;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    h3 {
        padding-top: 10px;
        margin-top: 10px;
    }
}

.stats-section {
    display: flex;
    flex-wrap: wrap;
}

.stats-card, .stats-card-wide {
    background-color: #2e3035;
    padding: 10px;
    border-radius: 20PX;
    margin: 3px;

    h3 {
        text-align: center;
    }
}

.stats-card {
    width: 23%;
}

.stats-card-wide {
    width: 48%;
}

.stats-card-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h3 {
        margin-left: 30px;
        text-align: left;
    }
}

@media only screen and (max-width: 1200px) {
    .stats-card, .stats-card-wide {
        width: 95%
    }
}